.logo{
    display: block;
    margin:auto;
    width:50px;
    height: 50px;
}
body{
    height:100vh;
    background-image: linear-gradient(rgb(255,255,255),rgb(175, 18, 175));
}
.container{
    max-width: 955px;
    border:2px solid black;
    background-image: linear-gradient(white,grey,black);
    margin:auto;
    height:60vh;
    padding:33px;
    overflow-y: auto;
    margin-bottom:23px;
}
.message{
    background-image:linear-gradient(white,green) ;
    width:24%;
    padding:10px;
    margin:17px 12px;
    border:2px solid black;
    border-radius: 10px;
}
.left{
    float:left;
    clear:both;
}
.right{
    float:right;
    clear:both;
}

#send-container{
    display: block;
    margin:auto;
    text-align: center;
    max-width: 985px;
}
.messageInp{
     width:91%;
     border:2px solid black;
     border-radius: 6px;
     height:34px;
}
.btn{
    cursor: pointer;
    border:2px solid black;
    border-radius: 6px;
    height:34px;
}